<div class="container">
    <div class="well col-md-6 col-md-offset-3" style="text-align: center">
        <h2>Add Person</h2>
        <div class="row ">
            <input type="text" class="col-md-6 col-md-offset-3" id="first-name" name="firstname" placeholder="First Name" />
        </div>
        <br />
        <div class="row">
            <input type="text" class="col-md-6 col-md-offset-3" id="last-name" name="lastname" placeholder="Last Name" />
        </div>
        <br />
        <div class="row">
            <input type="text" class="col-md-6 col-md-offset-3" id="age" name="age" placeholder="Age" />
        </div>
        <br />
        <div class="row">
            <button class="btn btn-primary col-md-6 col-md-offset-3" id="add-person">Add Person</button>
        </div>
    </div>

</div>
<div class="well">
    <h2 style="text-align: center">All People</h2>
    <table class="table table-bordered table-striped" id="ppl-table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        
    </table>
</div>

<div id="edit-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Person</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <div class="row ">
                        <input type="text" class="col-md-6 col-md-offset-3" id="edit-fn" name="firstname" placeholder="First Name" />
                    </div>
                    <br />
                    <div class="row">
                        <input type="text" class="col-md-6 col-md-offset-3" id="edit-ln" name="lastname" placeholder="Last Name" />
                    </div>
                    <br />
                    <div class="row">
                        <input type="text" class="col-md-6 col-md-offset-3" id="edit-age" name="age" placeholder="Age" />
                    </div>
                    <br />
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" id="submit-edit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/index.js"></script>
}